@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

.content h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    margin-left: 25px;
    opacity: 0.7;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
}

.content .logo .green {
    position: relative;
    top: 1.5rem;
    left: 1rem;
    background-color: green;
    border-radius: 50%;
    padding: 1rem;
    opacity: 0.8;
}

.yellow {
    position: relative;
    top: 0;
    left: 1.5rem;
    background-color: greenyellow;
    border-radius: 50%;
    padding: 1rem;
    opacity: 0.8;
}

.blue {
    position: relative;
    top: -2rem;
    left: 0.5rem;
    background-color: blue;
    border-radius: 50%;
    padding: 1rem;
    opacity: 0.6;
}

.termImg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem auto;
    /* border: 1px solid #000; */
    width: 70vw;
    padding: 30px;
}

.terms {
    font-size: 18px;
    width: 100%;
}

.farmGirl {
    /* width: 1%;
    height: 5%; */
}

.termImg .terms h2 {
    font-family: 'Montserrat', sans-serif;
    white-space: nowrap;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10PX;
}

.termImg .terms p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
}

.terms input {
    margin-top: 2rem;
}

.terms .btn {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.btn button {
    padding: 15px 40px;
    border-radius: 45%;
    outline: none;
    border: none;
}

.btn :nth-child(1) {
    background-color: crimson;
    color: #fff;
    text-align: center;
    font-size: 15px;
    border: 3px solid rgb(0, 0, 41);
}

.btn :nth-child(1):hover {
    padding: 16px 41px;
}

.btn :nth-child(2) {
    background-color: rgb(0, 0, 41);
    color: #fff;
    text-align: center;
    font-size: 15px;
    border: 3px solid crimson;
}

.btn :nth-child(2):hover {
    padding: 16px 41px;
}